#splash {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(177, 177, 177, 0.34);
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: column;
  z-index: 2000;
  color: white;
  transition: opacity 0.9s;
}

#piano {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 1600px) {
    #keyHeader{
      width: 100%;
    }

    #pianoHolder {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

#playHelp {
  font-size: 25px;
  font-weight: normal;
  margin-left: 50px;
  max-width: 500px;
}

#pianoImage {
  max-width: 1800px;
}

#splashBottom {
  font-size: 30px;
  font-weight: bold;
  margin-right: 55px;

  display: flex;
  align-items: center;
}

#splashBottom .material {
  margin-right: 20px;
  font-size: 40px;
}

#splashText {
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  margin-top: 390px;
}

#splashLogo {
  width: 400px;
}

#keyHeader {
  display: flex;
  justify-content: space-between;
}

#logoHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.removed {
  opacity: 0;
}
